body {
    margin: 0,;
    padding: 0;
}

.nav ul {
    list-style:none;
    background-color: blue;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.nav li{
    display:inline;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 44px;
    top: 42px;
    left: 156px;
}

.nav a{
    text-decoration: none;
    color:#FFFFFF;
    display:inline;
    padding: 10px;
    font-family: 'Roboto Slab', serif;                       
}

.nav a:hover{
    background-color:coral ;
    transition:0.10s ;
}

section{
    height: 500px;
    padding-bottom: 100px;
    background-color: blue;
}

h1{
    width: 485px;
    height: 230px;
    left: 100px;
    top: 230px;
    margin-left: 5%;
    padding-left: 5% ;
    font-family: poppins;
    font-style:normal;
    font-weight:700;
    font-size: 70px;
    color: #FFFFFF;
    line-height: 80px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#E02C6D, 100%);
    padding: 10px 24px 10px 24px;
    border-style: solid;
    background-color:crimson;
    font-weight: 700; 
    position:relative;
    left: 130px;
}

.half-width {
    width: 100%;
    float: left;  
    margin-left: 0%;
    padding-left: 0% ;
}

.half-width img{
    position:absolute;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 556.01px;
    height: 438px;
    left: 750px;
    top:153px;
}





