body {
    margin: 0,;
    padding: 0;
}

/*--Nav Start--*/
.nav ul {
    list-style:none;
    background-color: blue;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.nav li{
    display:inline;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 44px;
    top: 42px;
    left: 156px;
}

.nav a{
    text-decoration: none;
    color:#FFFFFF;
    display:inline;
    padding: 10px;
    font-family: 'Roboto Slab', serif;                       
}

.nav a:hover{
    background-color:coral ;
    transition:0.10s ;
}

/*--Nav End--*/
/*--Section Start--*/
section{
    height: 350px;
    padding-bottom: 100px;
    background-color: blue;
}

.container{
    background-color: #FFFFFF;
    width: 1200px;
    padding: 30px;
    border-radius:5px;
    margin-top: 0px;
}

h1{
    width: 485px;
    height: 230px;
    left: 100px;
    top: 230px;
    margin-left: 5%;
    padding-left: 5% ;
    font-family: poppins;
    font-style:normal;
    font-weight:700;
    font-size: 70px;
    color: #FFFFFF;
    line-height: 80px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#E02C6D, 100%);
    padding: 10px 24px 10px 24px;
    border-style: solid;
    background-color:crimson;
    font-weight: 700; 
    position:relative;
    left: 130px;
}

.half-width {
    width: 100%;
    float: left;  
    margin-left: 0%;
    padding-left: 0% ;
}

.banner-width img{
    margin-left: 9%;
    padding-left: 0% ;
    position:absolute;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 500px;
    height: 350px;
    left: 700px;
    top:85px;
}
/*--Section End--*/
/*--Card Start--*/

.half-width-card {
    border-bottom: 2px;
    width: 25% ;
    float: left;
    margin-left: 1%;
    padding-left: 2%;
}

.half-width-card img{
    height:50%;
    width: 96%;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 11% ;
}

.card{
    width: 300px;
    margin-left: 40%;
    margin-right: 15%;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px black;
}

.card-body{
    border-radius: 3%;
    border-left: 10% ;
    box-shadow: 4px 7px 10px grey;
    height: 110px;
    text-align: left;
    padding: 15px;
}

.card-body .card-title{
    font-size: 2rem;
    text-align: center;
}

.card-body .card-desc{
    text-align: justify;
    line-height: 1.5em;
    color: block;
}

.card-area{
    margin-left: 210px;
    border-radius: 15px;
    margin-right: 10%;
    border-left: 10%;
    border-right: 10%;
    box-shadow: 7px 7px 8px 8px gainsboro;
    height: 10px;
    text-align: center;
}
/*--Card End--*/

/*--Footer Start--*/

section  .footer{
    height: 250px;
    margin-top: 900px;
}

.footer{
    padding-bottom: 100px;
    height: 700px;
    background-color:white;
    margin-left: 9%;
    padding-left: 0% ;
    position:initial;
    width: 1000px;
    left: 70px;
    top:85px;
}

.footer-width img{
    margin-left: 9%;
    padding-left: 0% ;
    position:relative;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 500px;
    height: 350px;
    left: 500px;
    bottom:400px;
}


.footer-banner img{
    padding-left: 10% ;
    position: relative;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 500px;
    height: 300px;
}

.footer h1{
    width: 485px;
    height: 600px;
    top: 230px;
    margin-left: 1%;
    padding-left: 1% ;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight:700;
    font-size: 50px;
    color:black;
    line-height: 80px;
}
/*--Footer End--*/
/*--Media Query--*/
@media only screen and (max-width:668), (min-width:688) and (max-width:992) {
    .section{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
    .footer{
        flex-direction: column;
    }
}




